<script src ="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script><script type="text/javascript">
    var JFL_200503103327033 = new JotformFeedback({
      formId: '200503103327033',
      base: 'https://form.jotform.com/',
      windowTitle: 'Заказать кроватку',
      background: '#FFA500',
      fontColor: '#FFFFFF',
      type: '1',
      height: 500,
      width: 700,
      openOnLoad: false
    });
</script>
  <a class="btn lightbox-200503103327033" style="margin-top: 16px">
    Заказать кроватку
  </a>
