<dl>
    {%- for item in site.data.menu.items -%}
        {%- if item.url -%}
        <dt><a href="{{ item.url | absolute_url }}">{{ item.title }}</a></dt>
        {%- else -%}
        <dt>{{ item.title }}</dt>
            {%- if item.subitems -%}
                {%- for subitem in item.subitems -%}
                <dd>
                    {%- if subitem.url -%}
                    <a class="menu" href="{{ subitem.url | absolute_url }}">{{ subitem.title }}</a>
                    {%- else -%}
                    {{ subitem.title }}
                    {%- endif -%}
                {%- endfor -%}
                </dd>
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
</dl>
