<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.description }}">

        <link rel="shortcut icon" type="image/png" href="{{ site.shortcut_icon | absolute_url }}">
        <link rel="apple-touch-icon" href="{{ site.shortcut_icon | absolute_url }}">

        <!-- Facebook and Twitter integration -->
        <meta property="og:title" content="{{ site.title }}"/>
        <meta property="og:image" content="{{ site.shortcut_icon | absolute_url }}"/>
        <meta property="og:site_name" content="{{ site.title }}"/>
        <meta property="og:description" content="{{ site.description }}"/>

        <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

        <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="fbcaa7a2-d767-42bb-939b-15f3029357b3";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>

        <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        {% include lightbox.html %}

    </head>

    <body>
        <div class="wrapper">
            <header>
                <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

                {% if site.logo %}
                    <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="Logo"> </a>
                {% endif %}

                <p>{{ site.description | default: site.github.project_tagline }}</p>

                <p>Телефон: <a href="tel:+380951193343" onClick="ga('send','event','linkClick','click','telNumber', 0)"><strong>+38 095 119 33 43</strong></a></p>

                <p>E-mail: <a href="mailto:info@woodenday.com"><strong>info@woodenday.com</strong></a></p>

                {% include menu.html %}

                <ul class="downloads">
                    <li class="downloads"><a class="downloads" href="https://www.facebook.com/woodendaywood/" onClick="ga('send','event','linkClick','click','fbPage', 0)"><img border="0" src={{ "/assets/img/fb_logo.png" | relative_url }} width="30" height="30" title="Мы в Facebook"></a></li>
                    <li class="downloads"><a class="downloads" href="https://www.instagram.com/woodenday_panels/" onClick="ga('send','event','linkClick','click','instaPage', 0)"><img border="0" src={{ "/assets/img/insta_logo.png" | relative_url }} width="30" height="30" title="Мы в Instagram"></a></li>
                    <li class="downloads"><a class="downloads" href="tel:+380951193343" onClick="ga('send','event','linkClick','click','telNumber', 0)"><img border="0" src={{ "/assets/img/call_logo.png" | relative_url }} width="30" height="30" title="Позвонить"></a></li>
                </ul>

            </header>

            <section>
                {{ content }}
            </section>
<!--
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
 -->
        </div>

        <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

        {% if site.google_analytics %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
                ga('create', '{{ site.google_analytics }}', 'auto');
                ga('send', 'pageview');
            </script>
        {% endif %}
    </body>
</html>
